{% extends 'forum/base.html' %}

{% block block1 %}

{% if request.user.is_superuser %}
<form action="#" method="post" style="background:#E5D3C1;border-box:box-sizing;padding-left:15px;padding-bottom:15px;">

    {% csrf_token %}
    {{ form.errors }}
    {% for f in form %}
    <div style="margin-top:15px;margin-bottom:15px;" class="inner_form">
    {{f.label_tag}}
    {{ f }}
     </div>
    {% endfor %}
    <button type="submit" style="background:red;border:1px solid white;width:200px;height:50px;color:white;">Добавить ответ</button>
</form>
{% elif request.user.is_authenticated %}
<span>ПАЦАНЧИК, У ТЕБЯ НЕТ ПРАВ!!!!</span>
{% else %}
<span>ПАЦАНЧИК, РЕГНИСЬ ДЛЯ НАЧАЛА!!!!</span>
<a href="{% url 'register' %}">REGISTER</a>
{% endif %}

{{user}}

{% endblock block1 %}